/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

main {
	position: relative;
	&.paged {
		padding-bottom: 9rem;
	}
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $black;
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
	&:hover {
		cursor: pointer;
	}
	&.button {
		color: $white;
	}
}

.button {
	font-family: $elami-secondary-font-family;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

header.header {
	position: relative;
	z-index: 2;
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	font-family: $elami-secondary-font-family;
	font-weight: 400;
	padding: 0;
	position: relative;
	.title-area {
		z-index: 1;
	}
}

.top-bar-left,
.top-bar-center,
.top-bar-right {
	ul.menu {
		background-color: transparent;
	}
}

.top-bar-center {
	padding-top: 4em;
	@include breakpoint( medium ) {
		padding: 0;
		position: absolute;
		width: 100%;
		#menu-main-menu {
			text-align: center;
			li {
				display: inline-block;
			}
		}
	}
}

#menu-main-menu,
#menu-mobile-language-menu {
	box-shadow: 0px 5px 0px 0px $elami-news;
	li > a {
		color: $black;
		padding: 0.7 * $global-padding $global-padding;
	}
	li.is-dropdown-submenu-parent a::after {
		transform: translateX( 3px );
	}
}

.wf-loading #menu-main-menu,
.wf-exposanspro-n4 #menu-main-menu {
	li > a {
		visibility: hidden;
		opacity: 0;
	}
}

.wf-active.wf-exposanspro-n4-active #menu-main-menu {
	li > a {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s;
	}
}

.menu.medium-horizontal {
	li {
		padding: 0.7 * $global-padding $global-padding;
		color: $black;
	}
}

// Logo is in .top-bar-left

ul.menu > li.menu-text {
	a {
		width: 5em;
		padding: 0;
	}
	svg {
		height: 100%;
		width: auto;
	}
}

ul.menu.togglers {
	position: absolute;
	right: 0;
	top: 0;
	li.menu-toggle {
		padding: 0.7 * $global-padding 0;
	}
}

// Languages are in .top-bar-right

.top-bar-right {
	position: relative;

	@include breakpoint( medium ) {
		border: 0;
		padding: 0;
	}
}

#menu-language-menu, #menu-mobile-language-menu {
	li {
		padding: 0.7 * $global-padding $global-padding;
	}
}

#menu-language-menu {
	ul {
		margin-top: 5px;
		background: $white;
	}
	li a {
		color: $black;
	}
	li > ul > li.current-lang {
		display: none;
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

div.breadcrumbs-bar,
div.features-bar {
	border-bottom: 1px solid darken( $elami-grey, 3 );
}

.breadcrumbs-bar .button-group,
.breadcrumb-trail ul,
.breadcrumbs-bar__taxonomies ul {
	padding: 1.2 * $global-padding $global-padding;
	margin: 0;
}

nav.breadcrumbs-bar__taxonomies {
	display: inline-block;
	.button {
		margin: .1em 0;
		@include button-hollow;
		@include button-style( $button-background, white, $elami-red);
		border: 1px solid $elami-red;
	}
	ul:nth-of-type(1):not(:last-of-type) {
		padding-bottom: 0;
	}
	ul:nth-of-type(2) {
		padding-top: 0;
		padding-bottom: 1.2 * $global-padding;
	}
}


.button-group .button {
	margin-right: -1px;
}

.button-group .button:not(.active),
.breadcrumb-trail .trail-begin {
	@include button-hollow;
	border: 1px solid $elami-red;
	@include button-style( $button-background, white, $elami-red);
}
nav.breadcrumb-trail {
	display: inline-block;
	vertical-align: top;
	.trail-item:not(.trail-end) a,
	.trail-item:not(.trail-end) a:hover {
		color: $elami-red;
	}
	.trail-end a,
	.trail-item:not(.trail-end):not(.trail-begin) a {
		color: $white;
	}
}

.breadcrumb-trail ul li {
	display: inline;
	list-style: none;
	padding: .2em .4em;
}

.breadcrumbs-bar__taxonomies ul li {
	display: inline;
	list-style: none;
	padding: .2em 0;
}

/*********************
POSTS & CONTENT STYLES
*********************/

figure {
	margin: 0;
}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content, 
.secondary-content,
.footer {

	a:not(.button) {
		color: $elami-red;
		&:hover {
			text-decoration: underline;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

		}
	}
}

/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	position: relative;
}

.page__footer__widgets {
	position: relative;
	height: 0.66667 * $elami-footer-height;
	background: transparentize($white,0.3);
	img {
		height: 0.66667 * $elami-footer-height;
		position: absolute;
		bottom: 3em;
		margin-left: 2 * $global-margin;
	}
	@include breakpoint( small ) {
		background: transparentize($white,0.6);
		border-top-width: 0;
		img {
			text-align: left;
		}
	}
}

.page__footer__copyright {
	text-align: center;
	padding: 0.7 * $global-padding 0;
}

.home .page__footer__copyright {
	background: $white;
	border-top: 1px solid $elami-red;
	@include breakpoint( small ) {
		border-top: 1px solid white;
		overflow: hidden;
		.source-org.copyright { 
			float: left;
			margin-left: 2 * $global-margin;
		}
		.footer__feature {
			float: right;
			margin-right: 2 * $global-margin;
		}
	}
}

.social-items {
	position: absolute;
	right: 2em;
	top: 0;
	display: table-row;
	height: 100%;
}

.social-items__list {
	height: 100%;
	display: flex;
	align-items: center;
	li {
		list-style: none;
		display: inline-block;
		margin-left: 1em;
		&.elami_email {
			svg {
				margin-bottom: - 0.6em;
			}
		}
	}
	a {
		display: block;
		width: 1.5em;
		height: 1.5em;
	}
	svg {
		width: 100%;
		height: 100%;
		fill: $white;
	}
}

.home .social-items__list svg {
	fill: $elami-red;
}



/*********************
ELAMI STYLES
*********************/

article,
.content-wrapper-404 {
	padding: 2 * $global-padding 0;
}

.single article,
.section-wrapper {
	padding: 3 * $global-padding 0;
}

article.has-sections {
	padding: 0;
}

#content {
	min-height: inherit;
	@include breakpoint( small ) {
		min-height: $elami-content-min-height;
	}
}

.home #content {
		min-height: $elami-home-content-min-height-small;
	article {
		min-height: $elami-home-content-min-height-small;
	}
	@include breakpoint( small ) {
		article {
			min-height: auto;
		}
		min-height: $elami-home-content-min-height;

	}
}

.post-type-archive-book .row,
.tax-publisher .row,
.tax-format .row,
.tax-series .row,
.tax-available_rights .row,
.section-wrapper:last-child,
.single #main > article,
.post-type-archive-artist main {
	@include breakpoint( small ) {
	  min-height: $elami-content-min-height;
	}
}

.post-type-archive-book main {
	padding-bottom: 9rem;
}

.page-id-2,
.parent-pageid-2,
.page-id-20,
.parent-pageid-20,
.page-id-22,
.parent-pageid-22,
.page-id-24,
.parent-pageid-24 {
	#menu-main-menu {
		box-shadow: 0px 5px 0px 0px $elami-agency;
	}
	#menu-main-menu li.current-menu-item,
	#menu-mobile-language-menu li.current-lang,
	.page__footer__widgets,
	#menu-main-menu li.current-page-ancestor {
		background-color: $elami-agency;
	}
	#menu-mobile-language-menu {
		border-top-color: $elami-agency;
	}
	ul.is-dropdown-submenu {
		border-color: $elami-agency;
	}
}

.home {
	#menu-main-menu {
		box-shadow: 0px 5px 0px 0px $elami-news;
	}
	#menu-main-menu li.menu-item-object-custom,
	#menu-mobile-language-menu li.current-lang {
		background-color: $elami-news;
	}
	#menu-mobile-language-menu {
		border-top-color: $elami-news;
	}
	ul.is-dropdown-submenu {
		border-color: $elami-news;
	}
}

.archive,
.elami_book_also-from-this-series {
	.grid article {
		text-align: center;
		h2 {
			@include breakpoint (xsmall) {
				font-size: rem_calc( 17px );
			}
			@include breakpoint (medium) {
				font-size: rem_calc( 20px );
			}
		}
		&:hover img,
		&:hover svg {
			transform: scale(1.05);
			transition: transform 0.2s;
		}
	}
	.featured-image {
		margin: 0 auto 1 * $global-padding;
		a {
			display: block;
			max-height: 10em;
		}
		img, svg {
			height: 10em;
			width: auto;
		}
		svg {
			min-height: 100%;
			text-align: center;
			max-width: 100%;
			text {
				font-family: $elami-secondary-font-family;
				fill: $elami-red;
				font-size: 8px;
				text-wrap: normal;
			}
		}

	}
}

.archive {
	.page-navigation {
		font-family: $elami-secondary-font-family;
		font-size: small;
		li {
			display: inline;
		}
		li a,
		li.current {
			color: $elami-red;
			display: inline-block;
			min-width: 3em;
			padding: 0.25em 0.5em;
			border: 1px solid $elami-red;
			margin-left: -1px;
		}
		li.current {
			background-color: $elami-red;
			color: $white;
		}
		ul {
			padding: 0.5em 1em;
			margin: 0;
		}
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: $elami-grey;
		margin-top: 0;
		padding: 4em 2em;
		text-align: center;		
	}
}

.post-type-archive-artist,
.tax-artist_type,
.single-artist {
	#menu-main-menu {
		box-shadow: 0px 5px 0px 0px $elami-artists;
	}
	#menu-main-menu li.menu-item-object-artist,
	#menu-main-menu li.current-menu-item,
	#menu-mobile-language-menu li.current-lang,
	.page__footer__widgets {
		background-color: $elami-artists;
	}
	#menu-mobile-language-menu {
		border-top-color: $elami-artists;
	}
	ul.is-dropdown-submenu {
		border-color: $elami-artists;
	}
	h2 a,
	h2 a:hover,
	h2 a:visited {
		color: $elami-artists
	}
	.page-navigation {
		position: inherit;
	}
}

.page-template-page-services .grid article {
	h2 a,
	h2 a:hover,
	h2 a:visited {
		color: $elami-agency;
	}
}


.tax-artist_type,
.post-type-archive-artist {
	main > .row {
		max-width: 100%;
	}

	.article-inner.row {
		max-width: $global-width;
		margin: 0 auto;
	}

	article {
		padding: 3 * $global-padding 0;
	}
	article:nth-of-type(odd) {
		background-color: $elami-grey;
	}
}

.post-type-archive-book,
.tax-publisher,
.tax-format,
.tax-series,
.tax-available_rights,
.single-book {
	#menu-main-menu {
		box-shadow: 0px 5px 0px 0px $elami-titles;
	}
	#menu-main-menu li.menu-item-object-book,
	#menu-main-menu li.current-menu-item,
	#menu-mobile-language-menu li.current-lang,
	.page__footer__widgets {
		background-color: $elami-titles;
	}
	#menu-mobile-language-menu {
		border-top-color: $elami-titles;
	}
	ul.is-dropdown-submenu {
		border-color: $elami-titles;
	}
	h2 a,
	h2 a:visited {
		color: $black;
	}

	li.artist {
		color: $elami-blue;
	}

}

.post-type-archive-book,
.tax-available_rights,
.tax-publisher,
.tax-format,
.tax-series {
	.row {
		position: relative;
		max-width: 100%;
		@include breakpoint( xsmall only ) {
			.panel:nth-of-type(odd) {
				background: $elami-grey;
			}
		}
		@include breakpoint( small ) {
			background: repeating-linear-gradient(
			  to right,
			  $elami-grey,
			  $elami-grey 50%,
			  $white 50%,
  			  $white 100%

			);
		}
		@include breakpoint( medium ) {
			background: repeating-linear-gradient(
			  to right,
			  $elami-grey,
			  $elami-grey 33.33333%,
			  $white 33.33333%,
			  $white 66.66667%

			);
		}
		@include breakpoint( large ) {
			background: repeating-linear-gradient(
			  to right,
  			  $elami-grey,
			  $elami-grey 25%,
			  $white 25%,
			  $white 50%
			);
		}
		@include breakpoint( xxlarge ) {
			background: repeating-linear-gradient(
			  to right,
			  $elami-grey,
			  $elami-grey 16.66667%,
			  $white 16.66667%,
			  $white 33.33333%
			);
		}	
	}
}

.section-wrapper {
	&:nth-child(even) {
		background-color: $secondary-background;
	}
	&:nth-child(odd) {
		background-color: $white;
	}
}

.home {
	.call-to-action {
		margin: 2em 0 0 0;
	}
	.section-wrapper {
		padding: 0;
	}
}

section.entry-content,
section.secondary-content,
div.grid {
	@include grid-row;
}

header {
	h1, h2 {
		margin-bottom: 0.125em;
	}
	.subheader {
		display: block;
		color: $elami-blue;
		margin-bottom: 1.5em;
		a, a:hover {
			color: $elami-blue;
		}
	}
}

.services-hint {
	font-family: $body-font-family;
	@include button-hollow;
	@include button-style( $elami-blue, $elami-blue, $elami-blue);
	border: 1px solid $elami-blue;
	border-radius: 50% 50%;
	&:hover a,
	&:hover a:hover,
	&:hover a:visited {
		color: white;
	}
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: -0.5em;
	left: 0.5em;
	width: 1.5em;
	text-align: center;
}

header.section__header--full {
	@include grid-column( 12 );
	margin-bottom: 1em;
}

.grid__item {
	@include grid-column();
	margin-bottom: 2 * $global-margin;
	@include breakpoint( medium ) {
		@include grid-column(6);
	}
	@include breakpoint( large ) {
		@include grid-column(4);
		@include grid-column-end();
	}
}

.grid__item__image {
	min-height: 5em;
	&.client-list__item__image {
		margin: 1em 0;
		max-width: 16em;
		img {
			max-height: 4em;
		}
		a {
			display: block;
			display: flex;
			align-items: center;
		}
	}
}

aside.section__image {
	@include grid-column();
	max-width: 80%;
	margin: 0 10% 2 * $global-margin;
	@include breakpoint( medium ) {
		@include grid-column( 4 );
		max-width: 100%;
		margin: 0 0 1 * $global-margin 0;
	}
}

.section__text {
	@include grid-column();
	@include breakpoint( medium ) {
		@include grid-column( 8 );
	}
}

ul.artists {
	margin: 0;
	li {
		font-family: $elami-secondary-font-family;
		list-style: none;
	}
	a {
		color: $elami-blue;
	}
}

.home article {
	position: relative;
	text-align: center;
	padding: 2 * $global-padding $global-padding;
	h1 {
		display: inline;
		background: transparentize( $white, 0.6 );
	}
}

.elami_book_details {
	margin: $global-margin 0;
	padding: 0;
	list-style: none;
}

.elami_book_details__item--rights_available {
	margin-top: $global-margin;
}

.elami_book_also-from-this-series {
	@include breakpoint( medium ) {
		border-left: 1px solid $elami-red;
	}
}



/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}
