/*
    Created on : Mar 18, 2014, 8:23:00 PM
    Author     : Willem
*/

* {margin: 0; padding: 0;}

body, html {
  font-size: 16px;
}

.red {
  color: #c30015;
}
.blue {
  color: #003682;
}

div.container
{
     width: 100%;
     height:100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
div.elami
{
  /*-webkit-transition:width 0.25s, height 0.25s, -webkit-transform 0.25s;
  -moz-transition:width 0.25s, height 0.25s, -moz-transform 0.25s;*/
   	width: 18em;
	background: transparent;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
	text-align: center;
}

div.elami img {
	margin: 0 auto;
	padding: 0;
	border: 0;
}

div.elami-content {
	text-align: left;
	font-family: 'Open Sans', arial, sans-serif;
	margin: 0;
	width: 100%;
	color: #444;
	font-size: 1em;
	font-weight: 300;
	display: inline-block;
}

.elami-content:after {
	    content: " ";
	    display: block;
	    height: 0;
	    clear: both;
	    overflow: hidden;
	    visibility: hidden;
	}

.elami-content {
	    display: block;
	}

div.elami-content p {
	display: block;
	width: 100%;
	margin-bottom: 1.5em;
	letter-spacing: 1px;
}

div.elami-content .text-wrapper {
  margin: 1em;
}

div.elami-content .text-wrapper div.description {
	padding: 0;
	margin: 0;
	float: right;
}

div.elami-content p strong {
	font-weight: 400;
}

div.elami-content p a {
  color: #222;
	text-decoration: none;
}

div.elami-content p a:hover {
	text-decoration: underline;
}


@media screen and (max-width : 640px) {

	div.elami-content p {
		font-size: 0.9em;
		letter-spacing: 0;
	}

}


/*div.elami:hover
{
    -webkit-transition:width 0.25s, height 0.25s, -webkit-transform 0.25s;
	width: 66%;
	height: 66%;
}*/
